@import "~@/styles/global.scss";

.message {
  margin-top: 12px;
  .user-bar {
    @include flex-start;
    height: 32px;

    .avatar {
      width: 32px;
      height: 32px;
    }
    .nickname {
      color: #303030;
      max-width: 7em;
    }
    .position {
      width: 86px;
      height: 20px;
      display: inline-block;
      font-size: 12px;
      color: #fff;
      line-height: 20px;
      text-align: center;
      background: #ff8900;
      border-radius: 4px;
    }

    .time {
      color: #a6a6a6;
    }
  }

  .message-bubble {
    min-height: 36px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 8px;
    max-width: 350px;
    color: #363636;
    font-family: SourceHanSansSC-Normal, SourceHanSansSC;
    background: #f4f6ff;
    border-radius: 4px;
    font-size: 14px;
  }
}

.mr-12 {
  margin-right: 12px;
}
.ml-12 {
  margin-left: 12px;
}
.ml-8 {
  margin-left: 8px;
}
.mr-8 {
  margin-right: 8px;
}

.ellipsis {
  overflow: hidden; //超出的文本隐藏
  text-overflow: ellipsis; //溢出用省略号显示
  white-space: nowrap; //溢出不换行
}
