// flex 布局
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-stretch {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
.flex-fill {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.item-start {
  align-items: flex-start;
}
.column {
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.no-wrap {
  flex-wrap: nowrap;
}

@mixin flex-start(){
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

