@font-face {  
    font-family: 'YouSheBiaoTiHei';  
    src: url('./YouSheBiaoTiHei.ttf'); 
    font-weight: normal;  
    font-style: normal;  
  }
  @font-face {  
    font-family: 'PangMenZhengDao';  
    src: url('./PangMenZhengDao.ttf'); 
    font-weight: normal;  
    font-style: normal;  
  }
  @font-face {  
    font-family: 'PingFang-SC-Semibold';  
    src: url('./PingFang-SC-Semibold.ttf'); 
    font-weight: normal;  
    font-style: normal;  
  }
  @font-face {  
    font-family: 'PingFang-SC-Regular';  
    src: url('./PingFang-SC-Regular.ttf'); 
    font-weight: normal;  
    font-style: normal;  
  }
  @font-face {  
    font-family: 'pingfangSc-medium';  
    src: url('./pingfang sc medium.otf'); 
    font-weight: normal;  
    font-style: normal;  
  }
  @font-face {  
    font-family: 'PingFang-SC-Light';  
    src: url('./PingFang-SC-Light.otf'); 
    font-weight: normal;  
    font-style: normal;  
  }
  @font-face {  
    font-family: 'SourceHanSansK-Light';  
    src: url('../SourceHanSansK-Light.TTF'); 
    font-weight: normal;  
    font-style: normal;  
  }
  @font-face {  
    font-family: 'SourceHanSansK-Normal';  
    src: url('../SourceHanSansK-Normal.TTF'); 
    font-weight: normal;  
    font-style: normal;  
  }
  @font-face {  
    font-family: 'SourceHanSansK-Bold';  
    src: url('../SourceHanSansK-Bold.TTF'); 
    font-weight: normal;  
    font-style: normal;  
  }
  @font-face {  
    font-family: 'SourceHanSansK-Heavy';  
    src: url('../SourceHanSansK-Heavy.TTF'); 
    font-weight: normal;  
    font-style: normal;  
  }
  @font-face {  
    font-family: 'SourceHanSansK-Medium';  
    src: url('../SourceHanSansK-Medium.TTF'); 
    font-weight: normal;  
    font-style: normal;  
  }
  

  
